body {
background-color: white;
}
p{
margin: 0%;
padding: 0%;
font-size: 4em;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
[contenteditable="true"].single-line {
white-space: nowrap;
width:200px;
overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;
}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}


.id{
    padding: 1%;
    border-style: solid;
    border-color: black;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 40vh;
    min-height: 40vh;
    height: auto;
}


#edit {
    background-color: #E2DCCD;
    padding:0.1em;
    margin-top: 1em;
    resize: both;
    overflow: auto;
    cursor:text;
    }
  
  #edit a {
    cursor:pointer;
  }


  span{
    background-color: #E2DCCD;
    padding:0.1em;
    margin-top: 1em;
    resize: both;
    overflow: auto;
    cursor:text;
  }